<nav class="grey darken-2">
  <div class="nav-wrapper">
    <a href="root" class="brand-logo">Mesi</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/foods/new">ご飯投稿</a></li>
      <li><a href="badges.html">myご飯</a></li>
      <li><a href="collapsible.html">ログアウト</a></li>
    </ul>
  </div>
</nav>
<div id="wrapper">
    <div id="columns">
        <div class="pin">
          <img src="http://subtlepatterns.com/patterns/scribble_light.png" />
            
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>
        <div class="pin">
          <img src="https://617mi5y4.user.webaccel.jp/wp-content/uploads/2018/03/6a86c0f00a812c950aa455826e709875.jpg" />
        </div>

    </div>
</div>
<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 201９ Okamoto
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>